@font-face {
    font-family: 'Objectivity-Regular';
    src: url('fonts/Objectivity-Regular.eot'),
    	url('fonts/Objectivity-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Objectivity-Regular.woff2') format('woff2'),
        url('fonts/Objectivity-Regular.woff') format('woff'),
        url('fonts/Objectivity-Regular.ttf') format('truetype'),
        url('fonts/Objectivity-Regular.svg#Objectivity-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { padding-top: 20px; padding-bottom: 40px; font-family: 'Objectivity-Regular', Helvetica, sans-serif; font-size: 16px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Objectivity-Regular', Helvetica, sans-serif;  font-weight: 700;}
button {font-family: 'Objectivity-Regular', Helvetica, sans-serif; font-weight: 400;}

/* Masthead */
.header, .footer { font-family: 'Objectivity-Regular', Helvetica, sans-serif; text-transform: uppercase; font-weight: normal; }