@import url(https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700);
@import url(https://fonts.googleapis.com/css2?family=Montserrat);

body { padding-top: 20px; padding-bottom: 40px; font-family: 'Merriweather', Georgia, Times; font-size: 16px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Merriweather', Georgia, Times; font-weight: 700;}
button {font-family: 'Merriweather', Georgia, Times; font-weight: 400;}

/* Masthead */
.header, .footer { font-family: 'Montserrat', Helvetica, sans-serif; text-transform: uppercase; font-weight: normal; }