	<nav class = "footer">
	  <hr/>
			<p class = "text-muted" style="float: left; text-align: left;"><small>Last updated: {{now.Format "Jan 2, 2006"}}</small></p>

	  		<p class = "text-muted" style="float: right; text-align: right;"><small><img loading="lazy" src="/icons8-mail-24.png" alt="Email Icon" style="vertical-align:middle"><span id="obfuscate">merge-labatutlistsdotutexasdotedu</span></small></p>
	</nav>
	<!-- For contact info -->
	<script>
		unobfuscate("obfuscate", "\<n uers='znvygb\:zretr-yno\@hgyvfgf.hgrknf.rqh'\>zretr-yno\@hgyvfgf.hgrknf.rqh\<\/n\>");
	</script>
  </body>
</html>