<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Lilly Chin">
    <link rel="icon" href="/favicon.png" />
    <title>{{ .Title }} | {{ .Site.Title }}</title>

    {{ $style := resources.Get "style.css" | minify | fingerprint }}
    {{ $font := resources.Get "fonts.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    <link rel="stylesheet" href="{{ $font.Permalink }}" />
    {{ partial "scripts.html" . }}
  </head>

  <body>
    <nav class="header">

    <!-- Hard code the shortcode for the banner -->
    {{ $src := resources.Get ("/img/bannerLarge.png") }} 
    {{ $tiny := $src.Resize "100x" }}
    {{ $small := $src.Resize "400x" }}
    {{ $medium := $src.Resize "600x" }}
    {{ $large := $src.Resize "800x" }}
    <a href="/">
      <img
        loading="lazy"
        sizes="(min-width: 35em) {{$src.Width}}px, 400px, 100vw (max-width: {{$src.Width}})" 
        srcset='{{ if ge $src.Width "200" }} {{$tiny.RelPermalink}} 200w {{ end }}
        {{ if ge $src.Width "400" }} {{$small.RelPermalink}} 400w {{ end }}
        {{ if ge $src.Width "600" }} {{$medium.RelPermalink}} 600w {{ end }}
        {{ if ge $src.Width "800" }} {{ $large.RelPermalink }}800w  {{ end }}'
        {{ if ge $src.Width $medium.Width }}
          src="{{ $medium.RelPermalink }}"
        {{ else }}
          src="{{ $src.RelPermalink }}"
        {{ end }}
        alt='MERGe Lab banner image'
        style="margin:  0em 0em;"
      />
    </a>

    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li>
          {{ if .HasChildren }}
            <div class = "dropdown">
              <a href = "{{ .URL | absURL }}">{{ .Name }}</a>
              {{ $parent := .URL | relURL }}
              <div class = "dropdown-content">
                <ul class="sub-menu">
                    {{ range .Children }}
                    <li>
                      <a href="{{ .URL | absURL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
              </div>
          </div>
          {{ else }}
            <a href="{{ .URL | absURL }}">{{ .Name }}</a>
          {{ end }}
      </li>
      {{ end }}
    </ul>
  </nav>
  <p></p>